#List
##-> it is collection of different data type values
##-> list is denoted with [ ]
##-> list is index based and it supports slicing
##-> list is imutable

In [ ]:
lst=[1,2,3,'hi','a','b',23.5,1,2]
lst[3]=100
print(lst)

[1, 2, 3, 100, 'a', 'b', 23.5, 1, 2]

##-> creating empty list

In [ ]:
lst=[]
lst1=list()
print(type(lst))
print(type(lst1))

<class 'list'>
<class 'list'>

##-> string to list type conversion

In [ ]:
s='Manohar'
l=list(s)
print(type(s),type(l))
print(l)

<class 'str'> <class 'list'>
['M', 'a', 'n', 'o', 'h', 'a', 'r']

##-> Reading list of integers from user

In [ ]:
lst=list(map(int,input().split()))
print(lst)

10
[10]

##-> Reading list of string from user

In [ ]:
lst=list(map(str,input().split()))
print(lst)

name
['name']

##-> Reading list of float from user

In [ ]:
lst=list(map(float,input().split()))
print(lst)

23.5
[23.5]

##-> List concatination

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [ ]:
l1=[1,2,3]
l2=list([45])
print(l1+l2)

[1, 2, 3, 45]

##-> List repitation using *

In [ ]:
l1=[1,2,3]
print(l1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# List Methods
##-> append(value)- it add the single value at end of list

In [ ]:
l=[1,2,3,2.3,'a','b',1,2,3]
l.append(100)
print("after append operation:",l)

after append operation: [1, 2, 3, 2.3, 'a', 'b', 1, 2, 3, 100]

##-> extend(iterable)-it add the iterable values at end of list

In [ ]:
l=[1,2,3,2.3,'a','b',1,2,3]
l.extend([200,300])
print("after extend operation:",l)

after extend operation: [1, 2, 3, 2.3, 'a', 'b', 1, 2, 3, 200, 300]

##-> insert(position,value)- add the value at specified position and followed values are right shifted

In [ ]:
l=[1,2,3,2.3,'a','b',1,2,3]
l.insert(4,'codegnan')
print("after insert operation:",l)

after insert operation: [1, 2, 3, 2.3, 'codegnan', 'a', 'b', 1, 2, 3]

##-> remove(value)- it removes the value at first occurance position
##-> pop()- returns and removes the pop value as per specified position, otherwise pops the last value
##-> clear()=- removes the all elements from list
##-> del- removes the list

In [ ]:
l=[1, 2, 3, 2.3, 'codegnan', 'a', 'b', 1, 2, 3]
print("original list:",l)

original list: [1, 2, 3, 2.3, 'codegnan', 'a', 'b', 1, 2, 3]

In [ ]:
l.remove(3)
print("after remove operation:",l)

after remove operation: [1, 2, 2.3, 'codegnan', 'a', 'b', 1, 2, 3]

In [ ]:
l.pop()
print("after pop operation:",l)
l.pop(3)
print("after pop operation:",l)

after pop operation: [1, 2, 2.3, 'codegnan', 'a', 'b', 1, 2]
after pop operation: [1, 2, 2.3, 'a', 'b', 1, 2]

In [ ]:
del l[0]
del l[2:5]
print("after del operation:",l)

after del operation: [2, 2.3, 2]

In [ ]:
l.clear()
print("after clear operation:",l)

after clear operation: []

##-> min(list_name)- returns the min value from the list
##-> max(list_name)- returns the max value from the list
##-> sum(list_name)- sums the all elements in the list

In [ ]:
l=[1,2,3,45,34,233]
min_val=min(l)
max_val=max(l)
sum_val=sum(l)
print("min value:", min_val)
print("max value:", max_val)
print("sum value:", sum_val)

min value: 1
max value: 233
sum value: 318

##-> reverse()- it reverse the original list

In [ ]:
l=[1,2,3,45,34,233]
l.reverse()
print("reverse of list:",l)

reverse of list: [233, 34, 45, 3, 2, 1]

In [ ]:
#sort()
#asscending order sort
l=[1,2,29,43,3,10,200]
l.sort()
print(l)

[1, 2, 3, 10, 29, 43, 200]

In [ ]:
#descending order sort
l=[1,2,29,43,3,10,200]
l.sort(reverse=True)
print(l)

[200, 43, 29, 10, 3, 2, 1]

In [ ]:
#sorted()-it sort the list in perticular order and it returns new sorted list of values
l=[1,2,29,43,3,10,200]
new_list=sorted(l)
print(new_list)

[1, 2, 3, 10, 29, 43, 200]

In [ ]:
#count(value),index(value)
l=[1,2,3,10,29,43,200,23,2,3,2]
count_2=l.count(2)
print("total 2 element count:",count_2)
ind=(l.index(29))
print("29 value index:",ind)

total 2 element count: 3
29 value index: 4

In [ ]:
#len(list_name)
l=[1,2,3,10,29,43,200,23,2,3,2]
lenth=len(l)
print(lenth)

11